<mat-card>
  <mat-form-field>
    <input matInput placeholder="Company Name" [(ngModel)]="jobList.name" name="name" (ngModelChange)="onSave()">
  </mat-form-field>
  <button mat-button (click)="onDestroy()">delete</button>
  <br>
  <mat-form-field>
    <input matInput placeholder="New Job" [(ngModel)]="jobItem.name" name="name">
  </mat-form-field>
  <button mat-button (click)="onJobItemCreate()">create</button>
  <mat-card class="jobColor" theme="">
    <mat-card-content *ngFor="let jobItem of jobItems">
      <app-job-item [jobItem]="jobItem" (destroy)="onJobItemDestroy($event)">
      </app-job-item>
    </mat-card-content>
  </mat-card>
</mat-card>