<mat-card>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="jobList.name" name="name" (ngModelChange)="onSave()">
  </mat-form-field>
  <button mat-button (click)="onDestroy()">destroy</button>
  <br>
  <mat-form-field>
    <input matInput placeholder="Create Job" [(ngModel)]="jobItem.name" name="name">
  </mat-form-field>
  <button mat-button (click)="onJobItemCreate()">add</button>
  <mat-list>
    <mat-list-item *ngFor="let jobItem of jobItems">
      <app-job-item [jobItem]="jobItem" (destroy)="onJobItemDestroy($event)"></app-job-item>
    </mat-list-item>
  </mat-list>
</mat-card>
