<div id="sidenav" class="w3-card-2 w3-sidebar w3-collapse w3-light-grey" style="top: 44px;">
    <div id="sidenav-inner" class="w3-margin-top">
        <div *ngIf="loggedIn">
            <h2 class="left">Company Panel</h2>
            <a class="w3-button" routerLink="/job-creator" target="_top">Create a Job</a>
        </div>

        <div *ngIf="loggedIn">
            <br>
            <h2 class="left">Admin Panel</h2>
            <a class="w3-button" routerLink="/admin-panel/users" target="_top">Users</a>
            <a class="w3-button" routerLink="/admin-panel/users-unapproved" target="_top">Unapproved Users</a>
            <a class="w3-button" routerLink="/admin-panel/jobs-unapproved" target="_top">Unapproved Jobs</a>
        </div>
    </div>
</div>