.active {
    background-color: #2196F3;
}

#sidenav h2 {
    font-size: 21px;
    padding-left: 16px;
    margin: -4px 0 4px 0;
    width: 204px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
h2 {
    font-size: 30px;
}
*, ::before, ::after {
    box-sizing: inherit;
}