<div class="w3-margin">
    <h2>My Job Postings</h2>
    <div>
        <div>Found {{jobs.length}} job postings.</div>
        <ul *ngFor="let job of jobs" class="w3-ul">
            <li class="w3-bar w3-leftbar w3-border-white w3-hover-border-dark-grey w3-button" routerLink="/jobs/{{job.id}}">
                <div class="w3-bar-item">
                    <span class="w3-large w3-left">{{job.name}}</span>
                    <br>
                    <span class="w3-left">{{shortenDescription(job)}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>