<!-- navigation bar -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav-item"><h2>{{shortTitle}}</h2></div>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home">Home</a>
        <a class="nav-item nav-link" routerLink="/jobs">Job Overview</a>
        <a *ngIf="currentUser" class="nav-item nav-link" routerLink="/admin-panel">Admin-Panel</a>
        <a *ngIf="!currentUser" class="nav-item nav-link" routerLink="/login">Login</a>
        <a *ngIf="!currentUser" class="nav-item nav-link" routerLink="/register">Register</a>
        <a (click)="logout()" *ngIf="currentUser" class="nav-item nav-link">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<!-- <google-ad></google-ad> -->

<!-- footer-->
<div class="footer" id="footer">
    <div class="container">
        <div class="about">
            <a routerLink="/about">About us</a>
        </div>
        <div class="copyright">
            &copy; Job For You: <a href="https://job-for-you.com/">job-for-you.com</a>
        </div>
    </div>
</div>
