<!-- navigation bar -->
<app-navbar></app-navbar>

<!-- main app container -->
<div id="belowtopnav" class="w3-main w3-light-grey" style="margin-left: 220px; padding-top: 44px;">
    <div class="w3-row w3-white">
        <div id="main" class="w3-col l2 m12">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>


    </div>
</div>
<!-- <google-ad></google-ad> -->

<!-- footer-->
<div class="w3-container w3-teal" id="footer">
    <div class="about">
        <a routerLink="/about">About us</a>
    </div>
    <div class="copyright">
        &copy; Job-For-You: <a href="https://job-for-you.com/">job-for-you.com</a>
    </div>
</div>
