<h2>Job Editor</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSave()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
        <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">Name is required</div>
        </div>
    </div>

    <div>
        <h5>Created: {{job.createdAt}}</h5>
        <h5>Updated: {{job.updatedOn}}</h5>
    </div>
    <!-- TODO: Show _createdAt_, _updatedOn_ ? -->

    <!-- TODO: Date picker for _endDate_ -->

    <div class="form-group">
        <label for="endDate">Until</label>
        <input type="date" formControlName="endDate" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }"/>
        <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
            <div *ngIf="f.endDate.errors.required">'Until' is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" formControlName="description" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.description.errors }"/>
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">Description is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="qualifications">Qualifications</label>
        <input type="text" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.qualifications.errors }"/>
        <div *ngIf="submitted && f.qualifications.errors" class="invalid-feedback">
            <div *ngIf="f.qualifications.errors.required">Qualifications are required</div>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Save</button>
        <img *ngIf="loading" class="pl-3"
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        <button class="btn btn-danger" (click)="confirmDelete()">delete</button>
    </div>
</form>