<div class="w3-margin">
    <div class="search-bar">

        <form *ngIf="!advancedSearch" class="w3-responsive" id="search">
            <label for="searchTerm">Find a specific Job:</label>
            <input id="searchTerm" class="w3-input w3-border" type="text">
            <button class="w3-button w3-blue" (click)="onSearch()">Search</button>
            <a (click)="advancedSearch = true">  Advanced Search</a>
        </form>
        <form *ngIf="advancedSearch" id="advanced-search">
            <table>
                <tr>
                    <td><label for="company">Company: </label></td>
                    <td><input class="w3-input w3-border" id="company" type="text"></td>
                </tr>
                <tr>
                    <td><label for="title">Title: </label></td>
                    <td><input class="w3-input w3-border" id="title" type="text"></td>
                </tr>
                <tr>
                    <td><label for="description">Description: </label></td>
                    <td><input class="w3-input w3-border" id="description" type="text"></td>
                </tr>
                <tr>
                    <td><label for="occupation">Occupation: </label></td>
                    <td><input class="w3-input w3-border" id="occupation" type="text"></td>
                </tr>
                <tr>
                    <td><label for="qualifications">Qualifications: </label></td>
                    <td><input class="w3-input w3-border" id="qualifications" type="text"></td>
                </tr>
                <tr>
                    <td><label for="remarks">Remarks: </label></td>
                    <td><input class="w3-input w3-border" id="remarks" type="text"></td>
                </tr>
                <tr>
                    <td><label for="salary">Salary: </label></td>
                    <td><input class="w3-input w3-border" id="salary" type="text"></td>
                </tr>
                <tr>
                    <td><label for="contact">Contact: </label></td>
                    <td><input class="w3-input w3-border" id="contact" type="text"></td>
                </tr>
                <tr>
                    <td><button class="w3-button w3-blue" (click)="onSearch()">Search</button></td>
                    <td><a (click)="advancedSearch = false">Hide advanced Search</a></td>
                </tr>
            </table>
        </form>

    </div>
    <h2>Job Offers Matching Your Query</h2>
    <p *ngIf="!jobs" class="w3-opacity">No search performed. </p>
    <p *ngIf="jobs.length > 0" class="w3-opacity">Results that fit your query: {{jobs.length}}</p>

    <ul *ngFor="let job of jobs" class="w3-ul">
        <li class="w3-bar w3-leftbar w3-border-white w3-hover-border-dark-grey w3-button" routerLink="/jobs/{{job.id}}">
            <div class="w3-bar-item">
                <span class="w3-large w3-left">{{job.title}}</span>
                <br>
                <span class="w3-left">{{shortenDescription(job)}}</span>
            </div>
        </li>
    </ul>

</div>
