<div class="w3-margin">
    <h2>Job Creator</h2>

    <form>
        <label>Job Title:</label>
        <input id="title" class="w3-input w3-border" type="text" placeholder="A catchy title">
        <hr>
        <label>Until:</label>
        <input id="endDate" class="w3-input w3-border" type="date">
        <hr>
        <label>Occupation:</label>
        <input id="occupation" class="w3-input w3-border" type="text" placeholder="0 - 100% | 1x / week">
        <hr>
        <label>Description</label>
        <textarea id="description" class="w3-input w3-border" style="resize: none;" placeholder="Tell us about the job"></textarea>
        <hr>
        <label>Qualifications</label>
        <textarea id="qualifications" class="w3-input w3-border" style="resize: none;" placeholder="The needed profile"></textarea>
        <hr>
        <label>Contact</label>
        <textarea id="contact" class="w3-input w3-border" style="resize: none;" placeholder="How to contact you"></textarea>
        <hr>
        <button class="w3-button w3-dark-grey" (click)="onSubmit()">Submit</button>
    </form>
</div>
