<mat-form-field>
	<input matInput placeholder="Job Name" [(ngModel)]="jobItem.name" name="name">
	<mat-hint>Created:{{jobItem.createdAt | date: 'dd/MM/yy'}}</mat-hint>
</mat-form-field>
<mat-form-field>
	<textarea matInput placeholder="Description" [(ngModel)]="jobItem.description" name="description"></textarea>
</mat-form-field>
<mat-form-field>
	<input matInput placeholder="End Date" [(ngModel)]="jobItem.endDate" name="endDate" [matDatepicker]="myDatepicker">
	<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
	<mat-datepicker #myDatepicker></mat-datepicker>
</mat-form-field>
<button mat-button [matMenuTriggerFor]="menu">qualifications</button>
<mat-menu #menu="matMenu">
	<mat-list>
		<mat-list-item> Pepper </mat-list-item>
		<mat-list-item> Salt </mat-list-item>
		<mat-list-item> Paprika </mat-list-item>
	</mat-list>
</mat-menu>
<button mat-button (click)="onDestroy()">delete</button>
<button mat-button (click)="onSave()">save</button>