<div class="w3-margin">
    <h2>All registered Jobs</h2>
    <p class="w3-opacity">
        Found {{jobs.length}} job postings.
    </p>
    <div class="w3-responsive">
        <table class="w3-table w3-striped w3-table-all w3-hoverable" id="table">
            <tr>
                <th width="5%">ID</th>
                <th width="20%">Title</th>
                <th width="10%">Created</th>
                <th width="10%">Until</th>
                <th width="40%">Description</th>
                <th width="5%">Approval</th>
                <th width="5%"></th>
                <th width="5%"></th>
            </tr>
            <tr *ngFor="let job of jobs">
                <td>{{job.id}}</td>
                <td>{{job.title}}</td>
                <td>{{job.createdAt | date: 'dd/MM/yy'}}</td>
                <td>{{job.endDate | date: 'dd/MM/yy'}}</td>
                <td>{{shortenDescription(job)}}</td>
                <td><i class="fa {{job.isApproved ? 'fa-check-square' : 'fa-square-o'}}"></i></td>
                <td><a routerLink="/admin-panel/jobs/edit/{{job.id}}">Edit</a></td>
                <td><a routerLink="/jobs/{{job.id}}">Details</a></td>
            </tr>
        </table>
    </div>

    <hr>
    <button (click)="goBack()" class="w3-button w3-dark-grey">Go Back</button>
</div>
