<div class="w3-margin">
    <h2>Job Creator</h2>

    <form>
        <label for="title">Job Title:</label>
        <input class="w3-input w3-border" id="title" placeholder="A catchy title" type="text">
        <hr>
        <label for="endDate">Until:</label>
        <input class="w3-input w3-border" id="endDate" type="date">
        <hr>
        <label for="occupation">Occupation:</label>
        <input class="w3-input w3-border" id="occupation" placeholder="0 - 100% | 1x / week" type="text">
        <hr>
        <label for="description">Description</label>
        <textarea class="w3-input w3-border" id="description" placeholder="Tell us about the job"
                  style="resize: none;"></textarea>
        <hr>
        <label for="qualifications">Qualifications</label>
        <textarea class="w3-input w3-border" id="qualifications" placeholder="The needed profile"
                  style="resize: none;"></textarea>
        <hr>
        <label for="contact">Contact</label>
        <textarea class="w3-input w3-border" id="contact" placeholder="How to contact you"
                  style="resize: none;"></textarea>
        <hr>
        <button (click)="onSubmit()" class="w3-button w3-blue">Submit</button>
    </form>
</div>
