<div class="w3-margin">
    <h2>Register</h2>

    <form id="register">
        <label>Username</label>
        <input class="w3-input w3-border" id="username" placeholder="username" type="text">
        <div *ngIf="submitted && invalidUsername()" class="w3-panel w3-red">
            Username is required!
        </div>

        <label>Email</label>
        <input class="w3-input w3-border" id="email" placeholder="email" type="email">
        <div *ngIf="submitted && invalidEmail()" class="w3-panel w3-red">
            Email is required!
        </div>

        <label>Company</label>
        <input class="w3-input w3-border" id="company" placeholder="company" type="text">
        <div *ngIf="submitted && invalidCompany()" class="w3-panel w3-red">
            Company is required!
        </div>

        <label>Password</label>
        <input class="w3-input w3-border" id="password" placeholder="password" type="password">
        <div *ngIf="submitted && invalidPassword()" class="w3-panel w3-red">
            Password length must of of 6 characters or more!
        </div>

        <label>Reenter Password</label>
        <input class="w3-input w3-border" id="password2" placeholder="company" type="password">
        <div *ngIf="submitted && invalidPasswordMatch()" class="w3-panel w3-red">
            Passwords do not match!
        </div>

        <br>
        <button [disabled]="loading" (click)="onSubmit()" class="w3-button w3-blue">Register</button>
        <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </form>
</div>